body {
  background-color: rgb(225, 225, 225);
}

.navbar {
  background-color: #0a4735;
  padding: 0%;
}

.navbar-nav>.nav-item:hover,
.navbar-nav>.nav-item:focus{
  background-color: #377c67;
  border-radius: .25rem;
}

.navbar-brand{
  margin-left: 5px;
  margin-bottom: 2px;
}

/*estilizando botão menu:focus*/
button:focus {
  outline:solid 1px #cfcece;
}

.navbar .navbar-brand {
  color: #e1e1e1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
}
.navbar .navbar-text {
  color: #e1e1e1;
}
.navbar .navbar-text a {
  color: #ffffff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffffff; 
}
.navbar .navbar-nav .nav-link {
  color: #e1e1e1;
  border-radius: .25rem;
  margin: 0 0.25em;
  padding: 12px;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffffff;
  background-color: #377c67;
}
.navbar .navbar-toggler {
  border-color: #377c67;
}
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  background-color: #377c67;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  color: #e1e1e1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #e1e1e1;
}
.navbar .navbar-link {
  color: #e1e1e1;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #e1e1e1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #377c67;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #e1e1e1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #377c67;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #e1e1e1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #377c67;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #e1e1e1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #377c67;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #e1e1e1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #377c67;
}

/*custom style para nosso painel*/
.navbar {
  margin-bottom: 0 !important;
  border-radius: 0;
}

header#header {
  background-color: #333;
  color: white;
}

#header h2 {
  margin-top: 20px;
}

#header p {
  margin-top: 20px;
  position: relative;
  top: 9px;
}

.bread{
  margin-top: 20px;
}

.textarea{
  resize: vertical;
}

@media screen and (max-width: 1000px) {

  #header {
    text-align: center;
  }

  #header p {
    margin-top: 20px;
    position: relative;
    top: 0;
  }
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #0a4735;
  border-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #e1e1e1;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #ffffff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #ffffff;
    background-color: #377c67;
  }
}